li{
   list-style-type:none;
}



.list{
    color:black;
    width: 500px;
    margin: 20px auto;
    height: 40px;
    background-color:white;
    border-radius: 5px;
    margin-left: -4px;
    position: relative;
}

.list p input{
    background-color: transparent;
    border: 0;
    color:black;
    
    align-content: center;
    display:flex;
}
.list p input:focus{
    outline: none;
}

.list p span{
    position: absolute;
    right: 10px;
}
 .list .trash{
    background-color: transparent;
    right: 0;
    position:absolute;
    margin-top: 10px;
 }
  
 .trash:hover{
     background-color: transparent;
 }
 
 .list input{
     margin-top: 8px;
 }

 .completed input[type="text"]{
     text-decoration: line-through;
 }